In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

#make the Dataset 
dataset = [['Bread', 'Milk'],
            ['Beer', 'Bread', 'Diaper', 'Eggs'],
            ['Beer', 'Coke', 'Diaper', 'Milk'],
            ['Beer', 'Bread', 'Diaper', 'Milk'],
            ['Bread', 'Coke', 'Diaper', 'Milk']]
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

    Beer  Bread   Coke  Diaper   Eggs   Milk
0  False   True  False   False  False   True
1   True   True  False    True   True  False
2   True  False   True    True  False   True
3   True   True  False    True  False   True
4  False   True   True    True  False   True

In [9]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemset = apriori(df, min_support=0.4, use_colnames=True)

rules = association_rules(frequent_itemset, metric="confidence", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Diaper),(Beer),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.000000
1,(Beer),(Diaper),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.500000
2,(Diaper),(Bread),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.250000
3,(Bread),(Diaper),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.250000
4,(Milk),(Bread),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.250000
5,(Bread),(Milk),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.250000
6,(Coke),(Diaper),0.4,0.8,0.4,1.00,1.250000,0.08,inf,0.333333
7,(Coke),(Milk),0.4,0.8,0.4,1.00,1.250000,0.08,inf,0.333333
8,(Diaper),(Milk),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.250000
9,(Milk),(Diaper),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.250000
10,"(Beer, Bread)",(Diaper),0.4,0.8,0.4,1.00,1.250000,0.08,inf,0.333333
11,"(Milk, Beer)",(Diaper),0.4,0.8,0.4,1.00,1.250000,0.08,inf,0.333333
12,"(Diaper, Coke)",(Milk),0.4,0.8,0.4,1.00,1.250000,0.08,inf,0.333333
13,"(Coke, Milk)",(Diaper),0.4,0.8,0.4,1.00,1.250000,0.08,inf,0.333333
14,(Coke),"(Diaper, Milk)",0.4,0.6,0.4,1.00,1.666667,0.16,inf,0.666667

In [10]:
frequent_itemset

    support               itemsets
0       0.6                 (Beer)
1       0.8                (Bread)
2       0.4                 (Coke)
3       0.8               (Diaper)
4       0.8                 (Milk)
5       0.4          (Beer, Bread)
6       0.6         (Diaper, Beer)
7       0.4           (Milk, Beer)
8       0.6        (Diaper, Bread)
9       0.6          (Milk, Bread)
10      0.4         (Diaper, Coke)
11      0.4           (Coke, Milk)
12      0.6         (Diaper, Milk)
13      0.4  (Diaper, Beer, Bread)
14      0.4   (Diaper, Beer, Milk)
15      0.4  (Diaper, Milk, Bread)
16      0.4   (Diaper, Coke, Milk)